@import '_layout_extend.less';
@import '_navigation_extend.less';
@import '_icons_extend.less';

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .top-nav {
        list-style-type: none;
        margin-bottom  : 0;
        text-align     : center;

        li {
            display: inline-block;

            a {
                color      : @color-top-nav-link;
                font-size  : @font-size-13;
                font-weight: 400;
            }
        }

    }

    .promotion {
        background-color: @color-promotion;
        display         : flex;
        height          : 40px;
        justify-content : center;
        margin-top      : 10px;
        width           : 100%;

        ul {
            color          : @color-nav;
            display        : inline-flex;
            font-size      : @font-size-promotion;
            font-weight    : 400;
            justify-content: space-between;
            list-style-type: none;
            margin-bottom  : 0;
            max-width      : 1780px;
            width          : inherit;
            padding-left   : 0;
        }

        li {
            margin-bottom: 0;
            display      : flex;
            align-items  : center;

            img {
                margin-right: 5px;
            }

            span {
                display: inline-block;
                padding: 10px;
            }
        }
    }

    .minicart-wrapper .action.showcart .counter.qty {
        position: absolute;
        left    : -20%;
    }

    .footer__info {
        display         : flex;
        background-color: @color-footer-background;
        padding         : 0 70px;

        .footer__block {
            width: 25%;

            ul {
                list-style-type: none;
                float          : left;
                text-transform : capitalize;
                padding-left   : 0;
                width          : 100%;
                margin-bottom  : 0;

                .footer__title {
                    color         : @color-footer-title;
                    font-size     : 24px;
                    font-weight   : 700;
                    text-transform: uppercase;
                    margin-top    : 75px;
                    margin-bottom : 20px;
                }

                li {
                    font-size    : 20px;
                    font-weight  : 400;
                    color        : @color-footer-content;
                    font-family  : @font-opensans;
                    margin-top   : 10px;
                    margin-bottom: 0;
                }

                .line-bottom {
                    border-bottom: solid 1px red;
                    margin-top   : 20px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}