@import '_layout_extend.less';
@import '_navigation_extend.less';
@import '_icons_extend.less';

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .top-nav {
        list-style-type: none;
        text-align     : center;
        margin-bottom  : 0;

        li {
            display: inline-block;

            a {
                color      : @color-top-nav-link;
                font-size  : @font-size-13;
                font-weight: @font-weight-400;
            }
        }

    }

    .promotion {
        width           : 100%;
        background-color: @color-promotion;
        display         : flex;
        justify-content : center;
        margin-top      : 10px;

        ul {
            list-style-type: none;
            font-size      : @font-size-promotion;
            font-weight    : @font-weight-400;
            color          : @color-nav;
            display        : inline-flex;
            justify-content: space-between;
            max-width      : 1780px;
            padding        : 8px 0;
            margin-bottom  : 0;
            width          : inherit;
        }

        li {
            margin-bottom: 0;

            img {
                margin-right: 10px;
            }
        }
    }

    .ireland {
        width : 28px;
        height: 13px;
    }
}