& when (@media-common =true) {
    #stay-connected+ul {
        li {
            display: inline-block;
        }
    }

    #accordion-footer {

        li,
        a {
            text-decoration: none;
            color          : @color-footer-link;
            font-size      : @font-size-footer-link;
            font-weight    : 400;
            font-family    : @font-opensans;
            text-transform : capitalize;
        }

        .fa-chevron-right,
        .fa-chevron-down {
            position   : absolute;
            right      : 10px;
            line-height: 40px;
            color      : @color-icon-collapse;
            font-size  : @font-size-icon-collapse;
        }
    }

    .line-bottom {
        border-bottom: solid 1px red;
        margin-top   : 24px;
        margin-bottom: 24px;
    }

    .page-footer .widget.block {
        margin: unset;
    }

    .block {
        margin-bottom: unset;
        margin-top   : 8px;
    }

    .block-cms-link.widget {
        margin-bottom: unset;

        a,
        li {
            text-decoration: none;
            color          : @color-footer-link;
            font-size      : @font-size-footer-link;
            font-weight    : 400;
            font-family    : @font-opensans;
            text-transform : capitalize;
        }
    }

    i {
        padding      : 14px;
        border-radius: 50%;
        color        : @color-icon-connect;
        font-size    : 32px;
    }

    .fa-facebook-f {
        background-color: @color-bg-facebook;
        padding         : 15px 20px;
    }

    .fa-twitter {
        background-color: @color-bg-twitter;
    }

    .fa-envelope {
        background-color: @color-bg-mail;
    }

    .footer.content {
        background-color: @color-footer-background;
    }

    .footer__title {
        color         : @color-footer-title;
        font-size     : 24px;
        font-weight   : 700;
        text-transform: uppercase;
    }

    .footer__info {
        padding-top: 70px;
        position   : relative;

        .footer__block {
            ul {
                list-style-type: none;
                text-transform : capitalize;
                padding-left   : 0;
                width          : 100%;

                .footer__title {
                    color         : @color-footer-title;
                    font-size     : 24px;
                    font-weight   : 700;
                    text-transform: uppercase;
                    margin-bottom : 28px;
                }

                li,
                a {
                    font-size      : 20px;
                    font-weight    : 400;
                    color          : @color-footer-link;
                    font-family    : @font-opensans;
                    margin-top     : 8px;
                    margin-bottom  : 0;
                    text-decoration: none;
                }
            }
        }

        .footer-link {
            font-size  : 20px;
            font-weight: 400;
            color      : @color-footer-link;
            font-family: @font-opensans;
        }
    }
}

@media screen and (min-width: @bootstrap__md) {
    .footer.content {
        ul {
            padding-right: unset;
        }
    }

    .page-footer {
        padding-bottom: unset;
    }

    .footer.content {
        max-width: unset;
        padding  : unset;

        .block {
            float: unset;
        }
    }
}

@media screen and (min-width: 769px) {
    #accordion-footer {
        display: none;
    }

    #stay-connected {
        margin: 86px 0 18px 0;
    }

    #accept {
        margin: 80px 0 12px 0;
    }

    .footer__title {
        margin-bottom: 26px;
    }
}

@media screen and(min-width: @bootstrap__xxl) {
    .block__1 {
        padding-left: 74px;
    }

    .block__2 {
        padding-left: 52px;

        .account {
            margin-bottom: 70px;
        }
    }

    .block__3 {
        padding-left: 126px;
    }

    .block__4 {
        padding-left: 116px;
    }

    .fa-facebook-f {
        margin-right: 22px;
    }

    .fa-twitter {
        margin-right: 12px;
    }
}

@media screen and (max-width: @bootstrap__sm) {
    .footer__title {
        font-size: 18px;
    }

    #accordion-footer {

        a,
        li {
            font-size: 13px;
        }

        .fa-chevron-right,
        .fa-chevron-down {
            line-height: 25px;
        }
    }
}

@media screen and (max-width: @bootstrap__md) {
    .footer__info {
        display: none;
    }
}

@media screen and (max-width: @bootstrap__xxl) {
    #stay-connected+ul {
        li {
            margin-right: 12px;
        }

        i {
            font-size: 18px;
            padding  : 10px;

        }

        .fa-facebook-f {
            padding: 10px 15px;
        }
    }
}