& when (@media-common =true) {
    .navigation {
        text-align: center;
        margin-top: -47px;
    }
}

@media screen and(min-width: @bootstrap__md) {
    .navigation {
        background: unset;
        top       : 14px;

        .level0 {
            margin-right: 0;
        }

        .level0>.level-top {
            font-size  : 18px;
            font-weight: 600;
            color      : @color-nav;
        }
    }
}

@media screen and(min-width: @bootstrap__xl) {
    .navigation {
        text-align: unset;

        ul {
            padding-left: 70px;
        }

        .level0 {
            margin-left: 27px;
        }

        .level0>.level-top {
            padding: 0;
        }
    }
}

@media screen and(min-width: @bootstrap__xxl) {
    .navigation{
        top: 0;
    }
}