.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .navigation {
        text-align      : center;
        background-color: transparent;
        margin-top      : -47px;

        .level0>.level-top {
            font-size  : @font-size-18;
            font-weight: 600;
            color      : @color-nav;
        }
    }
}