& when (@media-common =true) {
    .lib-font-face(
        @family-name: @font-opensans,
        @font-path: '@{baseDir}fonts/Open_Sans/OpenSans-ExtraBold',
        @font-weight: 800,
        @font-style: normal,
        @font-display: auto,
    );
    .lib-font-face(
        @family-name: @font-opensans,
        @font-path: '@{baseDir}fonts/Open_Sans/OpenSans-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: auto,
    );
    .lib-font-face(
        @family-name: @font-opensans,
        @font-path: '@{baseDir}fonts/Open_Sans/OpenSans-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: auto,
    );
    .lib-font-face(
        @family-name: @font-caveat-brush,
        @font-path: '@{baseDir}fonts/CaveatBrush',
        @font-style: normal
    );
}