.lib-font-face (
    @family-name: 'OpenSans-Bold',
    @font-path: '@{baseDir}fonts/OpenSans-Bold',
    @font-style: normal
);
.lib-font-face (
    @family-name: 'Roboto-Medium',
    @font-path: '@{baseDir}fonts/Roboto-Medium',
    @font-weight: 500,
    @font-style: normal
);
.lib-font-face (
    @family-name: 'Lora-Bold',
    @font-path: '@{baseDir}fonts/Lora-Bold',
    @font-weight: 700,
    @font-style: normal
);
.lib-font-face (
    @family-name: 'Roboto-Bold',
    @font-path: '@{baseDir}fonts/Roboto-Bold',
    // @font-weight: 700,
    @font-style: normal
);
.lib-font-face (
    @family-name: 'Lora-Regular',
    @font-path: '@{baseDir}fonts/Lora-Regular',
    // @font-weight: 400,
    @font-style: normal
);
.lib-font-face (
    @family-name: 'Roboto-Regular',
    @font-path: '@{baseDir}fonts/Roboto-Regular',
    // @font-weight: 400,
    @font-style: normal
);
.lib-font-face (
    @family-name: 'market-regular',
    @font-path: '@{baseDir}fonts/market-regular',
    @font-weight: bold,
    @font-style: normal
);

