//
// Banner
// ----------------------------------------------------------------
& when (@media-common=true) {
    .content__container {
        width: 100%;
    }

    .banner__img {
        position: relative;

        img{
            width: 100%;
        }
    }
    
    .banner__content{
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
    }
}