//remove margin from navigation
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    div.nav-sections {
        margin-bottom: -1px;
    }
}


//
// Common
// ----------------------------------------------------------------
& when (@media-common=true) {

    .cms-home > .page-wrapper > .page-main {
        max-width: unset;
        color: @color-container1;
        font-family: @font-caveat-brush;
        padding: 0;
    }

    //
    // Containers
    // ----------------------------------------------------------------
    .container1 {
        max-width: 1920px;
        padding: 0 3.65%;
        color: @color-container1;
        font-family: @font-caveat-brush;

        &.head__img {
            background-color: @color-head-img;
        }

        
    }

    .logo__img {
        margin-top: 20px;
    }

    .container2 {
        max-width: 1920px;
        padding: 0 3.125% 0 2.97%;
        color: @color-container2;
        font-family: @font-opensans;

        &.product__content {
            margin-top: 8px;
        }

        &.news__content {
            display: flex;
            flex-wrap: wrap;
            background-color: @color-news-container;
            margin-top: 10px;
            padding-bottom: 36px;
        }
    }

    .banner {
        &__img {
            position: relative;
            max-height: 521.25px;
            height: auto;

            img {
                width: 100%;
            }
        }

        &__content {
            position: absolute;
            transform: rotate(-5deg);
            text-transform: uppercase;
        }

        &__title {
            letter-spacing: -4px;
            font-weight: 400;
            text-align: center;
        }

        &__subtitle {
            letter-spacing: -1px;
            color: @color-subtitle;
        }

        &__logo {
            width: 100%;
            margin-top: -2px;
        }

        &__profit {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            margin-top: 14px;
        }

        &__items {
            position: relative;

            &:nth-child(n + 2) {
                margin-left: 1%;
            }
        }

        &__offer {
            display: flex;
            justify-content: space-between;
            margin-top: 27px;
        }

        &__service {
            display: flex;
            justify-content: space-between;
            margin-top: 18px;
        }

        &__ads {
            position: relative;
            margin-top: 27px;
        }
    }

    .banner__content {
        &.title__img {
            top: 45%;
            left: 25%;
            transform: rotate(-5deg) translate(-50%, -50%);

            .banner__subtitle {
                padding-top: 5px;
                text-align: right;
            }
        }

        &.profit__img {
            position: initial;
            transform: unset;
            
        }

        &.summer__offer {
            top: 15%;
            left: 7%;
        }

        &.holiday__offer {
            top: 22%;
            right: 16.5%;

            .banner__subtitle {
                text-align: center;
            }
        }

        &.half__price {
            bottom: 9%;
            right: 19%;
        }

        &.ruck__sack {
            bottom: 16.5%;
            right: 2.5%;

            .banner__subtitle {
                text-align: center;
                padding-top: 5px;
                transform: translateX(11px);
            }
        }

        &.climbing__equipment {
            bottom: 17.5%;
            left: 27%;
        }

        &.adv__body {
            top: 13%;
            left: 7%;
            transform: rotate(-2deg);

            .banner__title {
                letter-spacing: -2.1px;
            }

            .banner__subtitle {
                text-align: center;
                color: unset;
                transform: rotate(-3deg) translateX(14px);
                word-spacing: -3px;
                margin: 0 auto;
                padding-top: 12px;
                background-color: @color-subtitle;
            }
        }
    }

    .profit__content {
        position: absolute;
        top: 50%;
        transform: translateY(-39%);
        width: 100%;
        text-align: center;
        letter-spacing: -1px;
        font-family: @font-opensans;
        font-weight: 800;
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    .page-layout-1column .block.widget .products-grid .product-item {
        margin-bottom: 0;

        &:nth-child(n + 2) {
            margin-left: 0.8%;
        }

        &:nth-child(5n +5) {
            margin-left: 0.5%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__s) {
    .cms-home {
        .product-item-actions .actions-primary+.actions-secondary {
            display: none;
        }

        .products-grid {
            .product-item {
                z-index: 10;
                margin-bottom: 30px;

                .product-item-details {
                    margin-top: 10px;
                    text-align: center;
                }

            }

            .product-item-info {
                position: relative;
                width: 100%;

                &:not(:hover):not(.active) {
                    .product-item-inner {
                        overflow: visible;
                        position: relative;
                        height: auto;
                        width: auto;
                        border: none;
                        box-shadow: none;
                        margin: 0;
                    }
                }

                &:hover {
                    box-shadow: none;
                    position: relative;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .block.widget .products-grid .product-item .product-item-inner,
        .page-layout-1column .block.widget .products-grid .product-item .product-item-inner {
            box-shadow: none;
            position: relative;
            border: none;
            padding: 0;
            margin: 0;
        }
    }
}