
@media (min-width: 768px), print {
    div.nav-sections {
        margin-bottom: 48px;
    }
}


//
// HomePage
// ----------------------------------------------------------------
& when (@media-common=true) {
    .container1 {
        max-width: 1920px;
        margin: 0 3.65%;
        color: @color-container1;
        font-family: @font-caveat-brush;

        &.head__img {
            background-color: @color-head-img;
        }

        &.logo__img {
            margin-top: 22px;
        }
    }

    .container2 {
        max-width: 1920px;
        margin: 0 3.125% 0 2.97%;
        color: @color-container2;
        font-family: @font-opensans;
    }

    .banner {
        &__img {
            position: relative;
            max-height: 521.25px;
            height: auto;

            img {
                width: 100%;
            }
        }

        &__content {
            position: absolute;
            transform: rotate(-5deg) translate(-50%, -50%);
            text-transform: uppercase;
        }

        &__title {
            font-size: 143px;
            letter-spacing: -4px;
            line-height: 110px;
            font-weight: 400;
            text-align: center;
        }

        &__subtitle {
            font-size: 56px;
            line-height: 31px;
            letter-spacing: -1px;
            color: @color-subtitle;
        }

        &__logo {
            width: 100%;
            margin-top: -2px;

            img {
                padding: 0 107px;
            }
        }

        &__profit {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            margin-top: 7px;
        }

        &__items {
            position: relative;
        }

        &__offer {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        &__service {
            display: flex;
            justify-content: space-between;
            margin-top: 11px;
        }

        &__ads {
            position: relative;
            margin-top: 20px;
        }
    }

    .banner__content {
        &.title__img {
            width: 350px;
            top: 45%;
            left: 25%;

            .banner__subtitle {
                padding-right: 42px;
                padding-top: 5px;
                text-align: right;
            }
        }

        &.profit__img {
            position: initial;
            transform: unset;
            width: 345px;
        }

        &.summer__offer {
            top: 32%;
            left: 33%;
        }

        &.holiday__offer {
            top: 44%;
            left: 59%;

            .banner__subtitle {
                text-align: center;
                padding-left: 21px;
                padding-top: 5px;
            }
        }

        &.half__price {
            width: 350px;
            bottom: -8%;
            right: -13%;
        }

        &.ruck__sack {
            width: 350px;
            bottom: -6%;
            right: -29%;

            .banner__subtitle {
                text-align: center;
                padding-top: 5px;
                padding-left: 32px;
            }
        }

        &.climbing__equipment {
            bottom: 16%;
            left: 42%;
        }

        &.advertisement__banner {
            top: 11%;
            left: 7%;
            transform: rotate(-2deg);

            .banner__title {
                font-size: 108px;
                letter-spacing: -2.1px;
            }

            .banner__subtitle {
                text-align: center;
                color: unset;
                transform: rotate(-3deg) translateX(14px);
                word-spacing: -3px;
                width: 32.81%;
                height: 47px;
                margin: 0 auto;
                padding-top: 12px;
                border-radius: 31px;
                background-color: @color-subtitle;
                margin-top: -19px;
            }
        }
    }

    .banner__profit img {
        max-height: 301px;
    }

    .profit__content {
        position: absolute;
        top: 48%;
        transform: translateY(-39%);
        width: 100%;
        text-align: center;
        font-size: 48px;
        letter-spacing: -1px;
        font-family: @font-opensans;
        font-weight: 800;
    }

    .banner__content.profit__img {
        &:nth-child(1) {
            .profit__content {
                left: -8px;
            }
        }

        &:nth-child(2) {
            .profit__content {
                left: 8px;
            }
        }

        &:nth-child(4) {
            .profit__content {
                left: -5px;
            }
        }

        &:nth-child(5) {
            .profit__content {
                left: -15px;
            }
        }
    }

    .product {
        &__header {
            margin-top: 36px;
            text-align: center;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            transform: translateX(22px);
            margin-bottom: 1px;
        }

        &__subtitle {
            font-size: 21px;
            font-weight: 400;
            letter-spacing: -0.48px;
            transform: translateX(40px);
        }
    }

    
}