& when (@media-common =true) {
    .page-layout-1column .column.main {
        .product-info-main {
            .lib-css(width, 32%);
        }
        .product.media {
            .lib-css(width, 63.5%);
        }
        .product.info.detailed {
            .lib-css(width, 63.5%);
            float: left;
        }
        .related {
            position: absolute;
            top: 64.5%;
            left: 65%;
            width: 30%;
        }
    }
    // .page-layout-1column .product-info-main{width:60%}
    // .page-layout-1column .product.media{width:40%}
    // @media only screen and (min-width: 750px) {
    //     .product-single__media-wrapper {
    //         width: 80%;
    //         float: right;
    //     }
    //     .thumbnails-wrapper.thumbnails-slider--active {
    //         float: left;
    //         width: 15%;
    //     }
    //     .product-single__thumbnails-item {
    //         flex: 0 0 100% !important;
    //     }
    //     }
    .product.media  .fotorama__wrap {
        position: relative;
        display: flex;
        max-height: 862px;
        height: 862px;
        .fotorama__stage {
            width: 80% !important;
            text-align: right;
            max-height: 862px;
            position: absolute;
            right: 0;
            .fotorama__stage__shaft {
                width: 100% !important;
            }
        }
        .fotorama__nav-wrap {
            width: 20%;
            text-align: left;
            position: absolute;
            .fotorama__nav__shaft {
                display: flex;
                flex-direction: column;
            }
            .fotorama__thumb-border {
                display: none;
            }
        }
    }
    .product.media .button-wrapper {
        display: flex;
        justify-content: space-between;
        .image,
        .video {
            width: 510px;
            font-size: 14px;
            color: #5b5b5b;
            font-weight: 400;
            font-family: @font-opensans;
            button {
                width: 100%;
            }
        }
    }
    // .products-grid .product-item-actions {
    //     display: none;
    
    // }

    .product.info.detailed .value {
        font-size: 18px;
        color: #6c6b6b;
        font-weight: 400;
    }
    .product.info.detailed .data.switch p {
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
    }
    .product.attribute.overview .value {
        font-size: 14px;
        color: #5b5b5b;
        font-weight: 400;
    }
    .related .title {
        text-align: center;
        font-size: 18px;
        color: #6c6b6b;
        font-weight: 700;
    }
    .box-tocart .action.tocart:not(:last-child) {
        .lib-button(@_button-background: #7ebf3a,
        @_button-background-active: #7ebf3a,
        @_button-color: @color-white,
        @_button-color-hover: @color-white,
        @_button-color-active: @color-white,
        @_button-border: 1px solid #7ebf3a,
        @_button-font-size: 16px,
        @_button-background-hover: #7ebf3a,
        );
        &.active {
            background: #7ebf3a;
        }
        &:visited {
            background: #7ebf3a;
            color: @color-white;
        }
        .lib-css(width, 100%);
        .lib-css(max-width, 100%);
        .lib-css(transform, uppercase);
        padding: 11px 15px;
    }

    .product-slick .product-item-info {
        width: 95%;
    }
    .product-slick .product-item .old-price {
        display: none;
    }
    .product-slick .product-item .price-box {
        margin: 20px 0;
    }
    .product-slick .product-item-details .product-item-name .product-item-link {
        font-size: 16px;
    }
}

//Mobile

//576px
@media screen and(max-width: @bootstrap__sm) {
   
}

//767px
@media screen and(max-width: @bootstrap__md) {

    .page-layout-1column .column.main {
        .product-info-main {
            .lib-css(width, 100%);
        }
        .product.media {
            .lib-css(width, 100%);
        }
        .product.info.detailed {
            .lib-css(width, 100%);
        }
        .related {
            position: relative;
            top: unset;
            left: unset;
            width: 100%;
        }
    }

}

//Desktop


//992
@media screen and (max-width: @bootstrap__lg) {
}

//1200px
@media screen and (max-width: @bootstrap__xl) { 
}

//1400px
@media screen and (max-width: @bootstrap__xxl) {
}