@import "_listing.less";
@import "_detail.less";


& when (@media-common =true) {
    body {
        font-family: @font-opensans;
    }
    p,
    a,
    ul,
    li,
    h1,
    span,
    label,
    strong,
    select,
    option {
        font-family: @font-opensans;
    }
    .page-wrapper .page-main {
        max-width: 1650px;
    }
}