& when (@media-common =true) {
    .page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 13.833333%;
        padding-right: 1%;
    }
    .page-layout-2columns-left .page-wrapper .column.main {
        width: 86.166667%;
        padding-left: 1%;
    }
    .page-title-wrapper {
        text-align: center;
    }
    .page-title-wrapper .page-title{
        font-size: 24px;
        line-height: 48px;
        color: #646464;
        font-weight: 400;
    }
    // .filter-options-content {
    //     display: block !important;
    // }
    .filter-options-content .items {
        list-style-type: none;
    }
    .main .toolbar-products {
        position: relative;
        font-size: 16px;
        .toolbar-sorter {
            position: absolute;
            right: unset;
            left: 0;
        }
        .toolbar-amount {
            position: absolute;
            text-align: end;
            right: 12%;
        }
        .modes {
            position: absolute;
            right: 0;
        }
    }
    .main .products-grid .product-item .product-item-details {
        text-align: left;
    }

    .main .toolbar-products {
        margin-bottom: 50px;
    }

    .product-item-details .product-item-name .product-item-link {
        font-size: 14px;
        line-height: 15px;
        color: #4e4e4e;
        font-weight: 600;
        font-family: @font-opensans-bold;
    }
    .simple-nature {
        font-size: 14px;
        line-height: 15px;
        color: #787878;
        font-weight: 400;
    }
    .page-products .product-item-info {
        width: 100%;
    }
    .product-image-photo {
        width: 100%;
    }
    .product-item .old-price {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 4px;
        text-decoration: line-through;
        color: #7d8084;
        font-weight: 400;
    }
    .normal-price {
        font-size: 18px;
        line-height: 15px;
        color: #b70b2b;
        font-weight: 400;
    }
}


//Mobile

//576px
@media screen and(max-width: @bootstrap__sm) {

}

//767px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    

}

//Desktop


//992
@media screen and (max-width: @bootstrap__lg) {
    
}

//1200px
@media screen and (max-width: @bootstrap__xl) {

    .page-layout-2columns-left .page-wrapper .columns .sidebar-main {
        width: 20.833333%;
        padding-right: 1%;
    }
    .page-layout-2columns-left .page-wrapper .columns .column.main {
        width: 75.166667%;
        padding-left: 1%;
    }
    body {
        .main .toolbar-products {
            .toolbar-amount {
                right: 20%;
            }
        }
    }
}

//1400px
@media screen and (max-width: @bootstrap__xxl) {
}

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // your code
}

//
//  Tablet
//  _____________________________________________

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__xl - 1) {
        // your code
    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    // your code
}