.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .block-search {
        float      : left;
        margin-left: 315px;
        width      : 650px;
        height     : 52px;

        .input-text {
            width : 650px;
            height: 52px;
        }

        .action.search[disabled] {
            padding         : 10px 24px;
            opacity         : unset;
            background-color: @color-btn-search;
            right           : 0;

            &:before {
                color    : @color-white;
                font-size: @font-size-icon-search;
            }
        }
    }
}